<%- include("header") -%>
<h2>About</h2>
<p>This is just the about page of the To do list app. The app is created by Thomas Terance and this is just so cool to use. the app has got a basic home page an about page and work list page also.</p>
<%- include("footer") -%>
